
/* Main */
.main {
    width: 1280px;
    max-width: 100%;
    margin: auto;
}

.main_grid .grid_box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    font-size: 1.1rem;
    font-weight: 500;
    width: 200px;
    height: 200px;
    background-image: url(/images/sky-2546570_1280.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
}

.main_grid .box_inner {
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    background-color: #00000099;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
}

.main_grid:hover .box_inner {
    display: flex;
    animation: innerContents 0.4s ease-in-out;
}

@keyframes innerContents {
    0% {
        opacity: 0;
        translate: -200px;
    }
    100% {
        opacity: 1;
        translate: 0px;
    }
    
}