/* Sell Product Page */
.container {
    width: 100%;
}

/* Main */
.main {
    width: 80%;
    max-width: 1280px;
    height: auto;
    /* height: calc(100% - 3rem - 500px); */
    margin: 2rem auto;
}

.sell_product {
  
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 1rem auto;
}

/* Product Image */
.sell_product .product_image {
    width: 50%;
    margin: 1rem 0;
}

.sell_product .img_file {
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 1rem auto;
}

/* Product Data */
.sell_product .product_data {
 
    width: 50%;
    margin: 1rem 0
}

.sell_product .product_info {
    position: sticky;
    top: 4rem;
    padding: 1rem 1rem;
    margin: 0 auto;
}

/* Product Table */
.sell_product table {
    /* font-size: 15px; */
    width: 100%;
}

.sell_product table thead h1 {
    font-size: 25px;
    margin: 0 0 1rem 0;
}

.sell_product table tbody tr:first-child td:first-child {
    width: 25%;
}

.sell_product table td {
    padding: 0.5rem 0.5rem;
}

.sell_product table .button {
    display: flex;
    justify-content: space-around;
}

.sell_product table input[type="button"] {
    width: 45%;
    color: #f0f0f0;
    background-color: #0f0f0f;
    padding: 1rem 2rem;
}